.sidebar {
  grid-area: sidebar;
  margin: 0;
  padding: 1rem;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100px;
  }
}
