@font-face {
  font-family: "Urbanist";
  src: url("./assets/fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Flex";
  src: url("./assets/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("truetype");
}

:root {
  --font-family: "Roboto Flex", sans-serif;
  --font-color: #333;

  font-family: var(--font-family);
  color: var(--font-color);
  letter-spacing: 0.1px;
}

a {
  color: var(--font-color);
  text-decoration: none;
}
